.table thead tr th{
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.table tbody tr td{
    padding-left: 55px;
    margin-bottom:50px;


}
.mat-dialog-actions {
    padding: 8px 0;
    display: revert !important;;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
}

 
    .mat-dialog-content{
        padding: 19px 25px !important;
    }

   .mat-button{
       background-color: #FF9F68;
       color: white;
   }
   strong{
    margin-left:235px;
   }
  .btn{
      margin-left:110px;
  }
    
